<div class="header">
    <img src="./assets/img/film.png" alt="film icon" style="height: 35px;">
    <p class="appName">Jandas' movies app</p>
</div>

<div style="margin-left: 25px">
    <div style="display: flex; justify-content: center; gap: 25px;">
        <form (ngSubmit)="searchMovies()" style="display: flex; gap: 25px">
        <div>
            <p style="text-align:center; color: white;">Search a film</p>
            <form class="form" >
                <div class="containerInput">
                    <input type="text" placeholder="Search" name="inputQuery" [(ngModel)]="queryText" class="inputText"
                        minlength="1" />
                </div>
            </form>
        </div>
        <div style="color: white; display: flex; flex-direction: column; justify-content: flex-start;align-items: flex-start;">
            <p style="height:13px ;"> Filter results</p>
            <div style="display: flex;gap: 15px;">
                <div style="display: flex; justify-content: center;align-items: center; gap: 10px;">
                    <p>Year of release</p>
                    <input class="yearInput" type="number" min="1900" max="2099" step="1" placeholder="Year" name="inputYear" [(ngModel)]="yearFilm"/>
                </div>
                
            </div>
        </div>
        <button type="submit" class="searchButton">🔍</button>
    </form>
    </div>
    <app-search-results [filmList]="filmList" 
                        [data]="closeMovieDetails" 
                        (idFilmSelected)="searchMovieById($event)">
    </app-search-results>
</div>

<app-movie-details *ngIf="movie" 
                    [movie]="movie"
                    [cast]="cast" 
                    [crew]="crew" 
                    (closeDetailsEmit)="closeDetails($event)">
</app-movie-details>
